# Copie este arquivo para .env e preencha os valores
# No terminal: cp env.template .env

# Neon Database Configuration
# String de conexão do Neon PostgreSQL
DATABASE_URL=postgresql://neondb_owner:npg_ReEdh6Lg8PSp@ep-long-surf-ahpe2n82-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

